<h1> UK ROAD ACCIDENT DATA ANALYSIS<h1>
<h1>INCLUSIVE YEAR 2019 - 2022</h1>
<h1>Analyst: Justine Angelo Enriquez</h1>
<h3>DATA PREPARATION</h3>
<h4>Transfer Data to set Folder</h4>
<h3>Importinmg Libraries</h3>

In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\lab4-studentpc38\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC38\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt
from scipy.stats import f_oneway

<h1>DATA FRAME</h1>

In [3]:
accident = pd.read_csv('datasets//accident_data.csv')

In [4]:
accident.isnull().sum()

Index                          0
Accident_Severity              0
Accident Date                  0
Latitude                      25
Light_Conditions               0
District Area                  0
Longitude                     26
Number_of_Casualties           0
Number_of_Vehicles             0
Road_Surface_Conditions      726
Road_Type                   4520
Urban_or_Rural_Area           15
Weather_Conditions         14128
Vehicle_Type                   0
dtype: int64

In [5]:
accident.dtypes

Index                       object
Accident_Severity           object
Accident Date               object
Latitude                   float64
Light_Conditions            object
District Area               object
Longitude                  float64
Number_of_Casualties         int64
Number_of_Vehicles           int64
Road_Surface_Conditions     object
Road_Type                   object
Urban_or_Rural_Area         object
Weather_Conditions          object
Vehicle_Type                object
dtype: object

In [6]:
accident['Latitude'] = accident['Latitude'].fillna(accident['Latitude'].mean())

In [7]:
accident.isnull().sum()

Index                          0
Accident_Severity              0
Accident Date                  0
Latitude                       0
Light_Conditions               0
District Area                  0
Longitude                     26
Number_of_Casualties           0
Number_of_Vehicles             0
Road_Surface_Conditions      726
Road_Type                   4520
Urban_or_Rural_Area           15
Weather_Conditions         14128
Vehicle_Type                   0
dtype: int64

In [8]:
accident[''] = accident['Longitude'].fillna(accident['Longitude'].mean())

In [9]:
accident['Longitude'] = accident['Longitude'].fillna(accident['Longitude'].mean())

In [10]:
accident['Road_Type'] = accident['Road_Type'].fillna(accident['Road_Type'].mode()[0])
accident['Urban_or_Rural_Area'] = accident['Urban_or_Rural_Area'].fillna(accident['Urban_or_Rural_Area'].mode()[0])
accident['Weather_Conditions'] = accident['Weather_Conditions'].fillna(accident['Weather_Conditions'].mode()[0])

In [11]:
accident['Road_Surface_Conditions'] = accident['Road_Surface_Conditions'].fillna(accident['Road_Surface_Conditions'].mode()[0])

In [12]:
accident.isnull().sum()

Index                      0
Accident_Severity          0
Accident Date              0
Latitude                   0
Light_Conditions           0
District Area              0
Longitude                  0
Number_of_Casualties       0
Number_of_Vehicles         0
Road_Surface_Conditions    0
Road_Type                  0
Urban_or_Rural_Area        0
Weather_Conditions         0
Vehicle_Type               0
                           0
dtype: int64

In [13]:
accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  object
 1   Accident_Severity        660679 non-null  object
 2   Accident Date            660679 non-null  object
 3   Latitude                 660679 non-null  float64
 4   Light_Conditions         660679 non-null  object
 5   District Area            660679 non-null  object
 6   Longitude                660679 non-null  float64
 7   Number_of_Casualties     660679 non-null  int64
 8   Number_of_Vehicles       660679 non-null  int64
 9   Road_Surface_Conditions  660679 non-null  object
 10  Road_Type                660679 non-null  object
 11  Urban_or_Rural_Area      660679 non-null  object
 12  Weather_Conditions       660679 non-null  object
 13  Vehicle_Type             660679 non-null  object
 14                           660679 non-null  float64
dtypes: float64(3), int64(2), object(10)
memory usage: 75.6+ MB

In [14]:
accident['Accident Date'] = accident['Accident Date'].astype('str')
accident.dtypes
accident['Accident Date'] = accident['Accident Date'].str.strip()
accident['Accident Date'] = accident['Accident Date'].str.replace('/', '-')

In [15]:
accident.isnull().sum()

Index                      0
Accident_Severity          0
Accident Date              0
Latitude                   0
Light_Conditions           0
District Area              0
Longitude                  0
Number_of_Casualties       0
Number_of_Vehicles         0
Road_Surface_Conditions    0
Road_Type                  0
Urban_or_Rural_Area        0
Weather_Conditions         0
Vehicle_Type               0
                           0
dtype: int64

In [16]:
accident['Accident Date'] = pd.to_datetime(accident['Accident Date'], dayfirst = True, errors = 'coerce')

In [17]:
accident.dtypes

Index                              object
Accident_Severity                  object
Accident Date              datetime64[ns]
Latitude                          float64
Light_Conditions                   object
District Area                      object
Longitude                         float64
Number_of_Casualties                int64
Number_of_Vehicles                  int64
Road_Surface_Conditions            object
Road_Type                          object
Urban_or_Rural_Area                object
Weather_Conditions                 object
Vehicle_Type                       object
                                  float64
dtype: object

In [18]:
accident.isnull().sum()

Index                      0
Accident_Severity          0
Accident Date              0
Latitude                   0
Light_Conditions           0
District Area              0
Longitude                  0
Number_of_Casualties       0
Number_of_Vehicles         0
Road_Surface_Conditions    0
Road_Type                  0
Urban_or_Rural_Area        0
Weather_Conditions         0
Vehicle_Type               0
                           0
dtype: int64

In [19]:
#accident[''] = accident[''].fillna(accident[''].mean())

In [20]:
accident['Index'] = accident['Index'].astype('category')
accident['Accident_Severity'] = accident['Accident_Severity'].astype('category')
accident['Light_Conditions'] = accident['Light_Conditions'].astype('category')
accident['District Area'] = accident['District Area'].astype('category')
accident['Road_Surface_Conditions'] = accident['Road_Surface_Conditions'].astype('category')
accident['Road_Type'] = accident['Road_Type'].astype('category')
accident['Urban_or_Rural_Area'] = accident['Urban_or_Rural_Area'].astype('category')
accident['Weather_Conditions'] = accident['Weather_Conditions'].astype('category')
accident['Vehicle_Type'] = accident['Vehicle_Type'].astype('category')

In [21]:
accident.dtypes

Index                            category
Accident_Severity                category
Accident Date              datetime64[ns]
Latitude                          float64
Light_Conditions                 category
District Area                    category
Longitude                         float64
Number_of_Casualties                int64
Number_of_Vehicles                  int64
Road_Surface_Conditions          category
Road_Type                        category
Urban_or_Rural_Area              category
Weather_Conditions               category
Vehicle_Type                     category
                                  float64
dtype: object

In [22]:
accident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  category
 1   Accident_Severity        660679 non-null  category
 2   Accident Date            660679 non-null  datetime64[ns]
 3   Latitude                 660679 non-null  float64
 4   Light_Conditions         660679 non-null  category
 5   District Area            660679 non-null  category
 6   Longitude                660679 non-null  float64
 7   Number_of_Casualties     660679 non-null  int64
 8   Number_of_Vehicles       660679 non-null  int64
 9   Road_Surface_Conditions  660679 non-null  category
 10  Road_Type                660679 non-null  category
 11  Urban_or_Rural_Area      660679 non-null  category
 12  Weather_Conditions       660679 non-null  category
 13  Vehicle_Type             660679 non-null  category
 14                           660679 non-null  float64
dtypes: category(9), datetime64[ns](1), float64(3), int64(2)
memory usage: 57.8 MB

In [23]:
accident.isnull().sum()

Index                      0
Accident_Severity          0
Accident Date              0
Latitude                   0
Light_Conditions           0
District Area              0
Longitude                  0
Number_of_Casualties       0
Number_of_Vehicles         0
Road_Surface_Conditions    0
Road_Type                  0
Urban_or_Rural_Area        0
Weather_Conditions         0
Vehicle_Type               0
                           0
dtype: int64

In [24]:
accident['Year'] = accident['Accident Date'].dt.year
accident['Month'] = accident['Accident Date'].dt.month
accident['Day'] = accident['Accident Date'].dt.day
accident['DayOfWeek'] = accident['Accident Date'].dt.dayofweek

In [25]:
accident

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type,,Year,Month,Day,DayOfWeek
0,200701BS64157,Serious,2019-06-05,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car,-0.209082,2019,6,5,2
1,200701BS65737,Serious,2019-07-02,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Car,-0.173647,2019,7,2,1
2,200701BS66127,Serious,2019-08-26,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,Single carriageway,Urban,Fine no high winds,Taxi/Private hire car,-0.210215,2019,8,26,0
3,200701BS66128,Serious,2019-08-16,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats),-0.202731,2019,8,16,4
4,200701BS66837,Slight,2019-09-03,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,Single carriageway,Urban,Fine no high winds,Other vehicle,-0.192487,2019,9,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660674,201091NM01760,Slight,2022-02-18,57.374005,Daylight,Highland,-3.467828,2,1,Dry,Single carriageway,Rural,Fine no high winds,Car,-3.467828,2022,2,18,4
660675,201091NM01881,Slight,2022-02-21,57.232273,Darkness - no lighting,Highland,-3.809281,1,1,Frost or ice,Single carriageway,Rural,Fine no high winds,Car,-3.809281,2022,2,21,0
660676,201091NM01935,Slight,2022-02-23,57.585044,Daylight,Highland,-3.862727,1,3,Frost or ice,Single carriageway,Rural,Fine no high winds,Car,-3.862727,2022,2,23,2
660677,201091NM01964,Serious,2022-02-23,57.214898,Darkness - no lighting,Highland,-3.823997,1,2,Wet or damp,Single carriageway,Rural,Fine no high winds,Motorcycle over 500cc,-3.823997,2022,2,23,2
660678,201091NM02142,Serious,2022-02-28,57.575210,Daylight,Highland,-3.895673,1,1,Wet or damp,Dual carriageway,Rural,Snowing no high winds,Car,-3.895673,2022,2,28,0

In [26]:
accpryear = accident['Year'].value_counts().sort_index()

In [27]:
accpryear

Year
2019    182115
2020    170591
2021    163554
2022    144419
Name: count, dtype: int64

In [28]:
accident1 = accident['Year'].dropna()

In [29]:
accident1

0         2019
1         2019
2         2019
3         2019
4         2019
          ...
660674    2022
660675    2022
660676    2022
660677    2022
660678    2022
Name: Year, Length: 660679, dtype: int32

In [30]:
accidentprmonth = accident['Month'].value_counts().sort_index()

In [31]:
accidentprmonth

Month
1     52872
2     49491
3     54086
4     51744
5     56352
6     56481
7     57445
8     53913
9     56455
10    59580
11    60424
12    51836
Name: count, dtype: int64

<h1>#1 ACCIDENT PER YEAR</h1>

In [32]:
accident_per_year = accident['Year'].value_counts().sort_index()

In [33]:
accident_per_year

Year
2019    182115
2020    170591
2021    163554
2022    144419
Name: count, dtype: int64

<h1>#2  Accidents with More Than 2 Casualties in Urban Areas</h1>

In [34]:
accident[(accident['Number_of_Casualties'] > 2) & (accident['Urban_or_Rural_Area'] == "Urban")]

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type,,Year,Month,Day,DayOfWeek
7,200701BS67370,Fatal,2019-10-03,51.482260,Darkness - lights lit,Kensington and Chelsea,-0.179486,3,2,Dry,Single carriageway,Urban,Fine no high winds,Car,-0.179486,2019,10,3,3
13,200701BS67853,Slight,2019-11-08,51.508999,Darkness - lights lit,Kensington and Chelsea,-0.210701,3,2,Wet or damp,Single carriageway,Urban,Other,Car,-0.210701,2019,11,8,4
21,200701BS68302,Fatal,2019-11-24,51.486795,Daylight,Kensington and Chelsea,-0.170375,5,1,Dry,Single carriageway,Urban,Fine no high winds,Car,-0.170375,2019,11,24,6
51,200701BS70035,Slight,2019-01-28,51.527693,Darkness - lights lit,Westminster,-0.215879,3,3,Dry,Single carriageway,Urban,Fine no high winds,Taxi/Private hire car,-0.215879,2019,1,28,0
131,200701BS70127,Slight,2019-02-14,51.501910,Daylight,Westminster,-0.159396,3,2,Dry,Single carriageway,Urban,Fine no high winds,Car,-0.159396,2019,2,14,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
659318,201063AC39310,Slight,2022-11-13,51.684670,Darkness - lights lit,Carmarthenshire,-4.126289,3,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Motorcycle 125cc and under,-4.126289,2022,11,13,6
659331,201063AC40610,Slight,2022-09-25,51.846855,Daylight,Carmarthenshire,-4.323405,3,2,Dry,Single carriageway,Urban,Fine no high winds,Car,-4.323405,2022,9,25,6
659363,201063AC43810,Slight,2022-12-11,51.685908,Daylight,Carmarthenshire,-4.147180,3,2,Dry,Single carriageway,Urban,Fine no high winds,Car,-4.147180,2022,12,11,6
659409,201063AC48510,Slight,2022-11-19,51.685052,Darkness - lights lit,Carmarthenshire,-4.183887,3,2,Dry,Single carriageway,Urban,Fine no high winds,Car,-4.183887,2022,11,19,5
659964,201063CP34910,Slight,2022-11-24,51.800741,Daylight,Pembrokeshire,-4.990764,3,2,Dry,Single carriageway,Urban,Fine no high winds,Car,-4.990764,2022,11,24,3

<h1>#3   Accidents on Wet Roads During Nighttime</h1>

In [35]:
accident[(accident['Road_Surface_Conditions'] == "Wet") & (accident['Light_Conditions'] == "Darkness")]

Empty DataFrame
Columns: [Index, Accident_Severity, Accident Date, Latitude, Light_Conditions, District Area, Longitude, Number_of_Casualties, Number_of_Vehicles, Road_Surface_Conditions, Road_Type, Urban_or_Rural_Area, Weather_Conditions, Vehicle_Type, , Year, Month, Day, DayOfWeek]
Index: []

<h1>#4  Accidents That Happened During Rush Hour (7 AM - 9 AM & 5 PM - 7 PM)</h1>

In [36]:
accident[(accident['Day'].between(7, 9)) | (accident['Day'].between(17, 19))]

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type,,Year,Month,Day,DayOfWeek
5,200701BS67159,Serious,2019-09-18,51.497750,Daylight,Kensington and Chelsea,-0.192556,2,3,Dry,Single carriageway,Urban,Fine no high winds,Car,-0.192556,2019,9,18,2
9,200701BS67543,Slight,2019-10-18,51.484539,Daylight,Kensington and Chelsea,-0.175651,1,2,Dry,Single carriageway,Urban,Fine no high winds,Motorcycle over 125cc and up to 500cc,-0.175651,2019,10,18,4
10,200701BS67644,Serious,2019-10-09,51.491944,Darkness - lights lit,Kensington and Chelsea,-0.171898,1,2,Dry,Single carriageway,Urban,Fine no high winds,Goods 7.5 tonnes mgw and over,-0.171898,2019,10,9,2
13,200701BS67853,Slight,2019-11-08,51.508999,Darkness - lights lit,Kensington and Chelsea,-0.210701,3,2,Wet or damp,Single carriageway,Urban,Other,Car,-0.210701,2019,11,8,4
15,200701BS67960,Slight,2019-11-19,51.488576,Daylight,Kensington and Chelsea,-0.192487,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car,-0.192487,2019,11,19,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660642,201091NL05068,Slight,2022-09-09,60.157212,Darkness - lights lit,Shetland Islands,-1.155823,1,1,Wet or damp,Single carriageway,Rural,Raining + high winds,Taxi/Private hire car,-1.155823,2022,9,9,4
660645,201091NL05842,Serious,2022-10-18,60.162660,Daylight,Shetland Islands,-1.165232,1,1,Dry,Single carriageway,Rural,Fine + high winds,Car,-1.165232,2022,10,18,1
660654,201091NL07083,Slight,2022-12-19,60.070562,Daylight,Shetland Islands,-1.229727,7,2,Snow,Single carriageway,Rural,Snowing no high winds,Car,-1.229727,2022,12,19,0
660660,201091NM00296,Slight,2022-01-08,57.293658,Daylight,Highland,-3.630574,1,2,Frost or ice,Single carriageway,Rural,Fine no high winds,Van / Goods 3.5 tonnes mgw or under,-3.630574,2022,1,8,5
660674,201091NM01760,Slight,2022-02-18,57.374005,Daylight,Highland,-3.467828,2,1,Dry,Single carriageway,Rural,Fine no high winds,Car,-3.467828,2022,2,18,4

<h1>Insight No. 5</h1>
<h2>Multi-vehicle crashes does not result in more casualties</h2>

<h1>2. Districts with the highest number of fatal accidents</h1>

In [37]:
severity_district = accident[accident['Accident_Severity'] == 'Fatal']['District Area'].value_counts()

In [38]:
severity_district

District Area
Birmingham                  105
Leeds                        93
Highland                     88
East Riding of Yorkshire     85
Bradford                     71
                           ...
Orkney Islands                2
Havant                        2
Stevenage                     1
Clackmannanshire              1
Harlow                        1
Name: count, Length: 422, dtype: int64

<h1>Insight No. 6</h1>
<h2>Cars are the most involved in fatal accidents with 6,577 reported</h2>

In [39]:
severity_vtype = accident[accident['Accident_Severity'] == 'Fatal']['Vehicle_Type'].value_counts()

In [40]:
severity_vtype

Vehicle_Type
Car                                      6577
Van / Goods 3.5 tonnes mgw or under       467
Motorcycle over 500cc                     339
Bus or coach (17 or more pass seats)      325
Goods 7.5 tonnes mgw and over             216
Motorcycle 125cc and under                189
Taxi/Private hire car                     155
Motorcycle over 125cc and up to 500cc     105
Motorcycle 50cc and under                  95
Other vehicle                              70
Goods over 3.5t. and under 7.5t            67
Minibus (8 - 16 passenger seats)           29
Agricultural vehicle                       21
Pedal cycle                                 6
Data missing or out of range                0
Ridden horse                                0
Name: count, dtype: int64

<h1>Insight No. 7</h1>
<h2>Most accidents occur in daylight with 419,045 slight, 60,759 serious, and 5,076 fatal accidents reported</h2>

In [41]:
rtype_svrty = accident.groupby('Road_Type')['Accident_Severity'].value_counts()

C:\Users\LAB4-StudentPC38\AppData\Local\Temp\ipykernel_8404\2819962728.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  rtype_svrty = accident.groupby('Road_Type')['Accident_Severity'].value_counts()

In [42]:
rtype_svrty

Road_Type           Accident_Severity
Dual carriageway    Slight                85863
                    Serious               11746
                    Fatal                  1815
One way street      Slight                11809
                    Serious                1655
                    Fatal                    95
Roundabout          Slight                40185
                    Serious                3665
                    Fatal                   142
Single carriageway  Slight               419563
                    Serious               70540
                    Fatal                  6560
Slip road           Slight                 6381
                    Serious                 611
                    Fatal                    49
Name: count, dtype: int64

<h1>Insight No. 8</h1>
<h2>Foggy or misty weather condition has the highest casualty rate (1.5)</h2>

In [43]:
weather_caslts = np.round(accident.groupby('Weather_Conditions')['Number_of_Casualties'].mean(), 1)

C:\Users\LAB4-StudentPC38\AppData\Local\Temp\ipykernel_8404\1919413188.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  weather_caslts = np.round(accident.groupby('Weather_Conditions')['Number_of_Casualties'].mean(), 1)

In [44]:
weather_caslts

Weather_Conditions
Fine + high winds        1.4
Fine no high winds       1.3
Fog or mist              1.5
Other                    1.4
Raining + high winds     1.4
Raining no high winds    1.4
Snowing + high winds     1.4
Snowing no high winds    1.3
Name: Number_of_Casualties, dtype: float64

<h1>Insight No. 9</h1>
<h2>Fatal Accidents Occur Most on Dry Roads</h2>

In [45]:
severity_rtyp = accident[accident['Accident_Severity'] == 'Fatal']['Road_Surface_Conditions'].mode()[0]

In [46]:
severity_rtyp

'Dry'

<h1>Insight No. 10</h1>
<h2>Dual carriageways have the highest number of vehicles per accident with 2</h2>

In [47]:
rtyp_vhcls = np.round(accident.groupby('Road_Type')['Number_of_Vehicles'].mean(), 1)

C:\Users\LAB4-StudentPC38\AppData\Local\Temp\ipykernel_8404\2171667100.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  rtyp_vhcls = np.round(accident.groupby('Road_Type')['Number_of_Vehicles'].mean(), 1)

In [48]:
rtyp_vhcls

Road_Type
Dual carriageway      2.0
One way street        1.6
Roundabout            1.9
Single carriageway    1.8
Slip road             1.9
Name: Number_of_Vehicles, dtype: float64

<h1>Insight No. 11</h1>
<h2>The highest accident count (45) occurs at latitude 52.949719, longitude -0.977611</h2>

In [49]:
lng_lat = accident[['Latitude', 'Longitude']].value_counts()

In [50]:
lng_lat

Latitude   Longitude
52.949719  -0.977611    45
52.458798  -1.871043    35
53.083165  -0.816789    33
52.967634  -1.190861    31
52.938860  -1.216694    29
                        ..
60.348429  -1.253807     1
60.349960  -1.254497     1
60.356602  -1.270295     1
60.356671  -1.282981     1
60.357188  -1.013089     1
Name: count, Length: 570518, dtype: int64

<h1>Insight No. 12</h1>
<h2>The proportion of accidents happening on weekends is 11.84%</h2>

In [51]:
weekends = (accident['Accident Date'].dt.dayofweek >= 5).mean() * 100

In [52]:
weekends

np.float64(29.739101742298452)

<h1>Insight No. 13</h1>
<h2>Saturday has the highest number of accidents (43,164), followed by Wednesday (40,037) and Friday (39,822)</h2>

In [53]:
acc_day = accident['Accident Date'].dt.day_name().value_counts()

In [54]:
acc_day

Accident Date
Saturday     107178
Wednesday     99558
Thursday      99511
Friday        97900
Tuesday       94550
Sunday        89302
Monday        72680
Name: count, dtype: int64

<h1>Insight No. 14</h1>

In [55]:
area_severity = accident.groupby('Urban_or_Rural_Area')['Accident_Severity'].value_counts()

C:\Users\LAB4-StudentPC38\AppData\Local\Temp\ipykernel_8404\2101211139.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  area_severity = accident.groupby('Urban_or_Rural_Area')['Accident_Severity'].value_counts()

In [56]:
area_severity

Urban_or_Rural_Area  Accident_Severity
Rural                Slight               196077
                     Serious               37312
                     Fatal                  5601
Unallocated          Slight                   10
                     Serious                   1
                     Fatal                     0
Urban                Slight               367714
                     Serious               50904
                     Fatal                  3060
Name: count, dtype: int64

<h1>Insight No. 15</h1>
<h2>Birmingham has the highest number of nighttime accidents (3,824)</h2>

In [57]:
district_nghttm = accident[accident['Light_Conditions'] != 'Daylight']['District Area'].value_counts()

In [58]:
 district_nghttm

District Area
Birmingham            3824
Leeds                 2416
Manchester            2110
Westminster           1801
Bradford              1753
                      ...
Orkney Islands          43
Clackmannshire          38
Berwick-upon-Tweed      33
Clackmannanshire        23
Teesdale                22
Name: count, Length: 422, dtype: int64

<h1>Insight No. 16</h1>
<h2>Birmingham has the highest number of daylight accidents (9,667)</h2>

In [59]:
dstrct_dylght = accident[accident['Light_Conditions'] == 'Daylight']['District Area'].value_counts()

In [60]:
dstrct_dylght

District Area
Birmingham            9667
Leeds                 6482
Manchester            4610
Bradford              4459
Sheffield             4211
                      ...
Berwick-upon-Tweed     120
Teesdale               120
Shetland Islands        89
Orkney Islands          74
Clackmannanshire        68
Name: count, Length: 422, dtype: int64

<h1>INSIGHT 17</h1>
<h2>Slight accidents have the highest average number of vehicles involved (2), followed by Fatal accidents (1) and Serious accidents (1) reported</h2>

In [61]:
severity_vehicles = np.round(accident.groupby('Accident_Severity')['Number_of_Casualties'].mean(), 0)

C:\Users\LAB4-StudentPC38\AppData\Local\Temp\ipykernel_8404\3821876920.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  severity_vehicles = np.round(accident.groupby('Accident_Severity')['Number_of_Casualties'].mean(), 0)

In [62]:
severity_vehicles

Accident_Severity
Fatal      2.0
Serious    1.0
Slight     1.0
Name: Number_of_Casualties, dtype: float64

<h1>Insight No. 18</h1>
<h2>The highest number of casualties recorded in a single-vehicle accident is 68</h2>

In [63]:
casualties_single = accident[accident['Number_of_Vehicles'] == 1]['Number_of_Casualties'].max()

In [64]:
casualties_single

np.int64(68)

In [65]:
accident.dtypes

Index                            category
Accident_Severity                category
Accident Date              datetime64[ns]
Latitude                          float64
Light_Conditions                 category
District Area                    category
Longitude                         float64
Number_of_Casualties                int64
Number_of_Vehicles                  int64
Road_Surface_Conditions          category
Road_Type                        category
Urban_or_Rural_Area              category
Weather_Conditions               category
Vehicle_Type                     category
                                  float64
Year                                int32
Month                               int32
Day                                 int32
DayOfWeek                           int32
dtype: object

In [66]:
accident

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type,,Year,Month,Day,DayOfWeek
0,200701BS64157,Serious,2019-06-05,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car,-0.209082,2019,6,5,2
1,200701BS65737,Serious,2019-07-02,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Car,-0.173647,2019,7,2,1
2,200701BS66127,Serious,2019-08-26,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,Single carriageway,Urban,Fine no high winds,Taxi/Private hire car,-0.210215,2019,8,26,0
3,200701BS66128,Serious,2019-08-16,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats),-0.202731,2019,8,16,4
4,200701BS66837,Slight,2019-09-03,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,Single carriageway,Urban,Fine no high winds,Other vehicle,-0.192487,2019,9,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660674,201091NM01760,Slight,2022-02-18,57.374005,Daylight,Highland,-3.467828,2,1,Dry,Single carriageway,Rural,Fine no high winds,Car,-3.467828,2022,2,18,4
660675,201091NM01881,Slight,2022-02-21,57.232273,Darkness - no lighting,Highland,-3.809281,1,1,Frost or ice,Single carriageway,Rural,Fine no high winds,Car,-3.809281,2022,2,21,0
660676,201091NM01935,Slight,2022-02-23,57.585044,Daylight,Highland,-3.862727,1,3,Frost or ice,Single carriageway,Rural,Fine no high winds,Car,-3.862727,2022,2,23,2
660677,201091NM01964,Serious,2022-02-23,57.214898,Darkness - no lighting,Highland,-3.823997,1,2,Wet or damp,Single carriageway,Rural,Fine no high winds,Motorcycle over 500cc,-3.823997,2022,2,23,2
660678,201091NM02142,Serious,2022-02-28,57.575210,Daylight,Highland,-3.895673,1,1,Wet or damp,Dual carriageway,Rural,Snowing no high winds,Car,-3.895673,2022,2,28,0

<h1>INSIGHT #19</h1>
<h2>calculating what type of vehicles ,What number of vehicle that involved to the accident in the District Area and how many casualties that issued!</h2>

In [67]:
cas_2022 = accident.groupby(['Weather_Conditions', 'Vehicle_Type','Number_of_Vehicles'])['Number_of_Casualties'].count()

C:\Users\LAB4-StudentPC38\AppData\Local\Temp\ipykernel_8404\214604435.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  cas_2022 = accident.groupby(['Weather_Conditions', 'Vehicle_Type','Number_of_Vehicles'])['Number_of_Casualties'].count()

In [68]:
cas1 = accident[accident['Weather_Conditions'] == 'Fine no high winds']

In [69]:
cas2 = cas1.groupby(['Vehicle_Type','Number_of_Vehicles','District Area'])['Number_of_Casualties'].size()

C:\Users\LAB4-StudentPC38\AppData\Local\Temp\ipykernel_8404\4140509765.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  cas2 = cas1.groupby(['Vehicle_Type','Number_of_Vehicles','District Area'])['Number_of_Casualties'].size()

In [70]:
cas2.unstack()

District Area                                           Aberdeen City  \
Vehicle_Type                        Number_of_Vehicles
Agricultural vehicle                1                               2
                                    2                               0
                                    3                               0
                                    4                               0
                                    5                               0
...                                                               ...
Van / Goods 3.5 tonnes mgw or under 13                              0
                                    14                              0
                                    15                              0
                                    16                              0
                                    32                              0

District Area                                           Aberdeenshire  Adur  \
Vehicle_Type                        Number_of_Vehicles
Agricultural vehicle                1                               0     0
                                    2                               1     2
                                    3                               0     1
                                    4                               0     0
                                    5                               0     0
...                                                               ...   ...
Van / Goods 3.5 tonnes mgw or under 13                              0     0
                                    14                              0     0
                                    15                              0     0
                                    16                              0     0
                                    32                              0     0

District Area                                           Allerdale  Alnwick  \
Vehicle_Type                        Number_of_Vehicles
Agricultural vehicle                1                           0        2
                                    2                           0        1
                                    3                           0        0
                                    4                           0        0
                                    5                           0        0
...                                                           ...      ...
Van / Goods 3.5 tonnes mgw or under 13                          0        0
                                    14                          0        0
                                    15                          0        0
                                    16                          0        0
                                    32                          0        0

District Area                                           Amber Valley  Angus  \
Vehicle_Type                        Number_of_Vehicles
Agricultural vehicle                1                              1      1
                                    2                              0      1
                                    3                              0      0
                                    4                              0      0
                                    5                              0      0
...                                                              ...    ...
Van / Goods 3.5 tonnes mgw or under 13                             0      0
                                    14                             0      0
                                    15                             0      0
                                    16                             0      0
                                    32                             0      0

District Area                                           Argyll and Bute  Arun  \
Vehicle_Type                        Number_of_Vehicles
Agricultural vehicle                1                                 0     0
                                    2                                 0     1
                                    3                                 0     0
                                    4                                 0     0
                                    5                                 0     0
...                                                                 ...   ...
Van / Goods 3.5 tonnes mgw or under 13                                0     0
                                    14                                0     0
                                    15                                0     0
                                    16                                0     0
                                    32                                0     0

District Area                                           Ashfield  ...  \
Vehicle_Type                        Number_of_Vehicles            ...
Agricultural vehicle                1                          1  ...
                                    2                          1  ...
                                    3                          0  ...
                                    4                          0  ...
                                    5                          0  ...
...                                                          ...  ...
Van / Goods 3.5 tonnes mgw or under 13                         0  ...
                                    14                         0  ...
                                    15                         0  ...
                                    16                         0  ...
                                    32                         0  ...

District Area                                           Wokingham  \
Vehicle_Type                        Number_of_Vehicles
Agricultural vehicle                1                           1
                                    2                           0
                                    3                           0
                                    4                           0
                                    5                           0
...                                                           ...
Van / Goods 3.5 tonnes mgw or under 13                          0
                                    14                          0
                                    15                          0
                                    16                          0
                                    32                          0

District Area                                           Wolverhampton  \
Vehicle_Type                        Number_of_Vehicles
Agricultural vehicle                1                               0
                                    2                               2
                                    3                               1
                                    4                               0
                                    5                               0
...                                                               ...
Van / Goods 3.5 tonnes mgw or under 13                              0
                                    14                              0
                                    15                              0
                                    16                              0
                                    32                              0

District Area                                           Worcester  Worthing  \
Vehicle_Type                        Number_of_Vehicles
Agricultural vehicle                1                           0         0
                                    2                           0         1
                                    3                           0         0
                                    4                           0         0
                                    5                           0         0
...                                                           ...       ...
Van / Goods 3.5 tonnes mgw or under 13                          0         0
                                    14                          0         0
                                    15                          0         0
                                    16                          0         0
                                    32                          0         0

District Area                                           Wrexham  Wychavon  \
Vehicle_Type                        Number_of_Vehicles
Agricultural vehicle                1                         0         0
                                    2                         3         0
                                    3                         0         0
                                    4                         0         0
                                    5                         0         0
...                                                         ...       ...
Van / Goods 3.5 tonnes mgw or under 13                        0         0
                                    14                        0         0
                                    15                        0         0
                                    16                        0         0
                                    32                        0         0

District Area                                           Wycombe  Wyre  \
Vehicle_Type                        Number_of_Vehicles
Agricultural vehicle                1                         4     0
                                    2                         5     1
                                    3                         3     0
                                    4                         0     1
                                    5                         0     0
...                                                         ...   ...
Van / Goods 3.5 tonnes mgw or under 13                        0     0
                                    14                        0     0
                                    15                        0     0
                                    16                        0     0
                                    32                        0     0

District Area                                           Wyre Forest  York
Vehicle_Type                        Number_of_Vehicles
Agricultural vehicle                1                             0     2
                                    2                             0     2
                                    3                             0     2
                                    4                             0     0
                                    5                             0     0
...                                                             ...   ...
Van / Goods 3.5 tonnes mgw or under 13                            0     0
                                    14                            0     0
                                    15                            0     0
                                    16                            0     0
                                    32                            0     0

[272 rows x 422 columns]

In [71]:
accident.dtypes

Index                            category
Accident_Severity                category
Accident Date              datetime64[ns]
Latitude                          float64
Light_Conditions                 category
District Area                    category
Longitude                         float64
Number_of_Casualties                int64
Number_of_Vehicles                  int64
Road_Surface_Conditions          category
Road_Type                        category
Urban_or_Rural_Area              category
Weather_Conditions               category
Vehicle_Type                     category
                                  float64
Year                                int32
Month                               int32
Day                                 int32
DayOfWeek                           int32
dtype: object

<h1>INSIGHT #20</h1>
<h1>in insight 20 we want to know how many casualties issued to the district area of the were wet,dry,flood,Frost Ice and snow</h1>

In [72]:
en2 = accident.groupby(['District Area','Road_Surface_Conditions'])['Number_of_Casualties'].size()

C:\Users\LAB4-StudentPC38\AppData\Local\Temp\ipykernel_8404\3346391849.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  en2 = accident.groupby(['District Area','Road_Surface_Conditions'])['Number_of_Casualties'].size()

In [73]:
en2.unstack()

Road_Surface_Conditions,Dry,Flood over 3cm. deep,Frost or ice,Snow,Wet or damp
District Area,,,,,
Aberdeen City,815,0,25,15,468
Aberdeenshire,942,8,112,57,811
Adur,445,0,5,1,168
Allerdale,640,4,67,19,398
Alnwick,121,2,20,5,84
...,...,...,...,...,...
Wychavon,886,2,62,12,399
Wycombe,1179,6,54,18,472
Wyre,862,2,45,5,324
Wyre Forest,683,1,37,10,238
York,1325,0,42,22,508